/* 🔹 Reset básico */
html, body {
  height: 100%;
  margin: 0;
}

/* 🔹 Fondo general */
body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
  font-family: Arial, sans-serif;
}

/* 🔹 Contenedor principal (Vue) */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 🔹 Esto empuja el footer */
footer {
  margin-top: auto;
} 